# see http://docs.python.org/distutils/sourcedist.html

include .gitignorm
include auto8it countem installit
include CHANGES MANIFEST.in README.* TODO
include *.py
recursive-include src tests
global-exclude junk* .*swp 
prune   .svn .git


