# see http://docs.python.org/distutils/sourcedist.html

include .gitignorm
include countem installit
include CHANGES MANIFEST.in README.* TODO
include *.py
recursive-include rnglib *.py
global-exclude junk* .*swp 
prune   .svn .git


